# Core dependencies
numpy==1.26.4
pandas==2.2.3
scipy==1.12.0
scikit-learn==1.6.1
matplotlib==3.9.4
seaborn==0.13.2
tqdm==4.67.1

# Deep Learning
torch==2.6.0
torchvision==0.21.0
pytorch-lightning==2.5.1.post0

# CuPy for GPU computation (for GPR model)
cupy-cuda12x==13.4.1

# Graph and Network
igraph==0.11.8

# Normalizing Flows (for FANS model)
normflows==1.7.3

#iSCAN
kneed==0.8.5

# Statistical Analysis
statsmodels==0.14.4
